# Writing Data using Pandas

## Installing dependencies

We primarily need 3 libraries here:<br>
1) pandas - used for all of our analysis<br>
2) xlsxwriter - This is an engine used by pandas for writing excel files. By default pandas uses xlwt (which needs to be installed too) but i prefer xlsxwriter as its more robust to different encodings<br>
3) pyarrow - it is the engine used for writing parquet files. There are other alternatives available, but pyarrow works fine in most cases

In [1]:
!pip3 install pandas
!pip3 install xlsxwriter
!pip3 install pyarrow

Requirement already satisfied: pandas in c:\users\shash\appdata\local\programs\python\python36\lib\site-packages
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\shash\appdata\local\programs\python\python36\lib\site-packages (from pandas)
Requirement already satisfied: pytz>=2017.2 in c:\users\shash\appdata\local\programs\python\python36\lib\site-packages (from pandas)
Requirement already satisfied: numpy>=1.13.3 in c:\users\shash\appdata\local\programs\python\python36\lib\site-packages (from pandas)
Requirement already satisfied: six>=1.5 in c:\users\shash\appdata\local\programs\python\python36\lib\site-packages (from python-dateutil>=2.6.1->pandas)

You are using pip version 9.0.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: xlsxwriter in c:\users\shash\appdata\local\programs\python\python36\lib\site-packages

You are using pip version 9.0.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: pyarrow in c:\users\shash\appdata\local\programs\python\python36\lib\site-packages
Requirement already satisfied: numpy>=1.14 in c:\users\shash\appdata\local\programs\python\python36\lib\site-packages (from pyarrow)

You are using pip version 9.0.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

## Importing libraries

We only need to import pandas out of the three we have installed as the other two are used by pandas internally

In [2]:
import pandas as pd
import os

## Reading the file we will write out

In [3]:
df = pd.read_csv(os.path.join(os.getcwd(), '..', 'data', 'data.csv'))

In [4]:
df.head()

,State_UT,year,Primary_Boys,Primary_Girls,Primary_Total,Upper Primary_Boys,Upper Primary_Girls,Upper Primary_Total,Secondary _Boys,Secondary _Girls,Secondary _Total,HrSecondary_Boys,HrSecondary_Girls,HrSecondary_Total
0,A & N Islands,2012-13,0.83,0.51,0.68,Uppe_r_Primary,1.09,1.23,5.57,5.55,5.56,17.66,10.15,14.14
1,A & N Islands,2013-14,1.35,1.06,1.21,NR,1.54,0.51,8.36,5.98,7.2,18.94,12.2,15.87
2,A & N Islands,2014-15,0.47,0.55,0.51,1.44,1.95,1.69,11.47,8.16,9.87,21.05,12.21,16.93
3,Andhra Pradesh,2012-13,3.3,3.05,3.18,3.21,3.51,3.36,12.21,13.25,12.72,2.66,NR,0.35
4,Andhra Pradesh,2013-14,4.31,4.39,4.35,3.46,4.12,3.78,11.95,13.37,12.65,12.65,10.85,11.79

## Writing the files

Primarily, we use 3 file formats to write data into files<br>
1) excel<br>
2) csv <br>
3) parquet <br>

### Excel file

Here, we pass two arguments other than the path<br>
1) index - This is a boolean value which tells if the index needs to be exported or not <br>
2) engine - The engine used to write the excel file. By default it is set to xlwt, but here we use xlsxwriter as it is more robust

In [5]:
df.to_excel(os.path.join(os.getcwd(), '..', 'data', 'data.xlsx'), index=False, engine='xlsxwriter')

### CSV file

Here we will demonstrate two ways of expoting data into csv files<br>
1) default separator - "comma" is used<br>
2) custom separator - we will use "tab" for this<br>
In both cases we will keep the index as false

In [6]:
df.to_csv(os.path.join(os.getcwd(), '..', 'data', 'data.csv'), index=False)

In [7]:
df.to_csv(os.path.join(os.getcwd(), '..', 'data', 'data.txt'), sep='\t', index=False)

### Parquet file

Exporting to parquet file is a good idea when the data is huge or when it needs to be used by a distributed system (e.g. Spark).<br>
We are using pyarrow as the writing engine, you may choose a different engine<br>
It does not save the index of the data being exported, hence we need not mention it explicitly

In [8]:
df.to_parquet(os.path.join(os.getcwd(), '..', 'data', 'data.parquet'))